<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true" />
    </Console>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.remind.graph" level="${env:REMIND_LOGGING_LEVEL:-INFO}" />
    <Root level="${env:ROOT_LOGGING_LEVEL:-ERROR}">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
